extends layout

block content
  h1= "LAMDA Quest"
  script(src="javascripts/main.js")
  #gameDiv
  .menu
    button= "Skill Tree"
    button= "Help"
    button= "Submit"
    .textboxes
        textarea(rows="4" cols="50")
        textarea(rows="4" cols="50")
        button= "Submit"
    
